/* North import */
@font-face {
    font-family: 'North', sans-serif;
    src: url('/assets/North.otf') format('truetype');
}
/* Pacifico import */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* Montserrat import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

// *{
//     transition: all 1s ease-out;
// }
body {
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(#0c0c0c, #000000);
    margin: 0;
    color: #DEDEDE;
    user-select: none;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    cursor: none;
}
::-webkit-scrollbar {
    display: none;
}
#app {
    margin: 0;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
a {
    text-decoration: none;
    color: #DEDEDE;
}
svg {
    fill: currentColor;
    cursor: pointer;
}
ul{
    list-style-type: none;
    padding: 0;
}
ul span{
    font-weight: 600;
}
h1 {
    font-weight: 800;
    margin: 10px 0px 20px 0px;
    font-size: 70px;
}
h2{
    font-weight: 800;
    font-size: 50px;
}
h3{
    font-weight: 800;
    font-size: 30px;
}
h4{
    font-weight: 800;
    font-size: 20px;
}


/* Cursor */
#cursor {
    display: inline;
    position: fixed;
    overflow: hidden;
    border-radius: 50%;
    background-color: currentColor;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    mix-blend-mode: difference;
    backface-visibility: hidden;
    transform-origin: 100% 100%;
    z-index: 10;
    pointer-events: none;
    touch-action: none;
}
.click-event {
    animation: cursorAnim .5s forwards;
}
@keyframes cursorAnim {
    0% {
        background-color: #DB8C57;
    }

    100% {
        opacity: 0;
    }
}


/* Header */
#header {
    width: 100vw;
    margin-top: 10px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    mix-blend-mode: difference;
    color: #DEDEDE;
    z-index: 11;
    #nav{
        display: flex;
        margin: 0px;
        font-family: "North", sans-serif;
        li {
            display: flex;
            flex-direction: row;
            padding: 0px 1.5vw;
            a {
                padding: 10px 30px;
            }
        } 
    }
    #header-aside{
        display: flex;
        align-items: center;
        margin-right: 50px;
        #social {
            display: flex;
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
                padding: 0px 5px;
                margin: 4px 0px 0px 0px;
                &:last-of-type{
                    margin-right: 20px;
                }
                a {
                    padding: 0;
                    margin: 0;
                    svg {
                        padding: 10px;
                    }
                }
            }
        }
        #languages{
            font-family: "North", sans-serif;
            font-size: 16px;
            margin: 0px;
            li{
                display: flex;
                flex-direction: row;
                text-align: center;
                align-items: center;
                a{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    height: 44px;
                    width: 44px;
                }
                span{opacity: 0.5;}
                .active{opacity: 1;}
                .notactive{opacity: 0.5;}
            }
        }
    }
}


/* Home */
#home {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: minmax(0px, 1fr) 4fr minmax(0px, 1fr);
    width: 100vw;
    height: 100vh;
    color: #DEDEDE;
    .content{
        display: flex;
        grid-column-start: 2;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        #home-header{
            display: flex;
            justify-content: flex-start;
            max-width: 850px;
            font-family: 'Pacifico', sans-serif;
            line-height: 30px;
            text-align: center;
            width: 100%;
            font-weight: 500;
            font-size: 22px;
            p{
              transform: rotate(-10deg);
              margin: 0; 
            }
            #name{
                color: #DB8C57;
            }
        }
        #home-content{
            text-align: center;
            font-weight: 800;
            margin: 10px 0px 20px 0px;
            font-size: 70px;
            span {
                color: #DB8C57;
            }
        }
        #home-footer{
            display: flex;
            button {
                margin: 5px 20px;
                width: 180px;
                height: 40px;
                font-weight: 700;
                font-size: 14px;
                color: #DEDEDE;
                cursor: pointer;
                background-color: #db8c5700;
                border: solid 1px #DEDEDE;
                border-radius: 5px;
                &:first-of-type {
                    background-color: #DB8C57;
                    color: #272727;
                    border: none;
                }
            }
        }
    }
}


/* About */
#about {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: minmax(0px, 1fr) 4fr minmax(0px, 1fr);
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background-color: #DEDEDE;
    color: #191919;
    z-index: 1;
    .content{
        display: flex;
        height: auto;
        grid-column-start: 2;
        flex-direction: column;
        justify-content: center;
        padding: 50px 10px;
        #about-content{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            column-gap: 40px;
            row-gap: 40px;
            margin: 20px 0px;
            .text{
                font-size: 19px;
                font-weight: 500;
                margin: 0px;
                span.active{
                    color: #DB8C57;
                }
            }
        }
        #about-footer{
            margin: 50px 10px;
            .hard-skill{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                column-gap: 40px;
                .card{
                    font-family: 'Montserrat', sans-serif;
                    background-color: #191919;
                    color: #DEDEDE;
                    margin: 20px 0px;
                    padding: 5px 20px;
                    h4{margin: 5px 0px 5px 0px;}
                    li{
                        list-style: inside;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
                h3{
                    text-align: center;
                    margin: 50px 0px 40px 0px;
                }
            }
        }
        .codewars{
            padding: 0px 20px 20px 20px;
            width: auto;
            img{
                width: 150px;
            }
        }
    }
}


/* Work */
#work {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 4fr;
    z-index: 2;
    background-image: radial-gradient(#0c0c0c, #000000);
    #work-header{
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
            font-family: "North", sans-serif;
            font-size: 3vw;
            margin: 0px;
            transform: rotate(180deg);
            writing-mode: vertical-lr;
        }
    }
    .content{
        display: flex;
        height: 100vh;
        grid-column-start: 2;
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
        ul{
            &:hover{
                a{color: rgba(255, 255, 255, 0);}
            }
            margin: 200px 0px 50px 0px;
            a{
                transition: all 0.5s ease-out;
                font-size: 7vw;
                font-weight: 600;

                -webkit-text-stroke: 2px #DEDEDE;
                &:hover{
                    color: #DEDEDE;
                }
            }
        }
    }
}



/* Contact */
#contact {
    width: 100vw;
    height: 100vh;
    background-color: #DEDEDE;
    color: #191919;
    z-index: 3;
    overflow-y: scroll;
    .content{
        display: flex;
        flex-direction: row;
        height: 100vh;
        grid-column-start: 2;
        justify-content: center;
        align-items: center;
        aside{
            width:100%;
            margin-right: 20px;
            h1{
                font-size: 160px;
                font-family: "North", sans-serif;
            }
            .right{
                float: right;
            }
        }
        section{
            width: 100%;
            main{
                form{
                    display: flex;
                    flex-direction: column;
                    label{
                        margin: 40px 0px 5px 40px;
                        font-family: 'Montserrat', sans-serif;
                    }
                    input, textarea{
                        background-color: rgba(222, 222, 222, 0);
                        font-family: 'Montserrat', sans-serif;
                        padding: 2px 10px;
                        border: none;
                        margin: 0px 40px 20px 40px;
                        border-bottom: 1px solid #191919;
                        height: 30px;
                        font-size: 16px;
                        &:focus{
                            outline: none;
                            border: none;
                            background-color: #191919;
                            color: #DEDEDE;;
                            border-radius: 2px;
                        }
                    }
                    .form-button{
                        display: flex;
                        justify-content: flex-end;
                        margin-right: 40px;
                        button{
                            background-color: rgba(222, 222, 222, 0);
                            border: none;
                            margin-top: 40px;
                            width: 50px;
                            height: 50px;
                            padding: 0px;
                            img{
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                    .form-wrapper{
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                        width: 100%;
                        div{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}



























// Responsive


// Laptop
@media(max-width:1440px){
    #header{
        justify-content: flex-end;
        #nav{
        display: none !important;
        }
    }
    #contact{
        .content{
            flex-direction: column !important;
            aside{
                display: flex;
                justify-content: center;
                h1{
                    font-size: 6vw;
                    padding: 0px 0.8vw;
                }
            }
            section{
                main{
                    padding: 0px 10vw;
                }
            }
        }
    }

    


}

// Tablet
@media (max-width:768px){ 
    body{
        overflow: scroll !important;
    }
    h1 {
        font-size: 60px;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 25px;
    }
    h4{
        font-size: 18px;
    }
    #cursor {
        display: none;
    }
    #home {
        #home-header{
            font-size: 20px !important;
        }
        #home-content{
            font-size: 60px !important;
        }
        #home-footer{
            flex-direction: column;
            align-items: center
        }
    }
    #work{
        #work-header{
            h1{
                font-size: 30px !important;
            }
        }
        .content{
            overflow: scroll;
            justify-content: center !important;
            #work-list{
                margin: 0px !important;
            }
        }
    }
}

// Mobile
@media (max-width:550px){
    body{
        overflow: scroll !important;
    }
    h1 {
        font-size: 50px;
    }
    #home {
        #home-header{
            font-size: 18px !important;
        }
        #home-content{
            font-size: 40px !important;
        }
    }
    .text{
        font-size: 16px !important;
    }
    #work-header{
        h1{
            font-size: 25px !important;
        }
    }


}